.menu-btn{
    position: absolute;
    z-index: 1;
    right: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transitionEase;

    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: set-text-color($primary-color);

        @include transitionEase;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transitionEase;
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transitionEase;
        }

        &.open{
            transform: rotate(180deg);
            background: transparent;
            @include transitionEase;

            &::before{
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after{
                transform: rotate(-45deg) translate(3px, -7px);
                width: 28px;
            }
        }

    }
}